<div class="box4">
</div>
<div class="row">
    <div class="box6">
        <div class="col-sm-12">
            <div class="box5">
                <p class="white">About</p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="box5">
                <h3 class="white">あなたのお車を最適な状態に保つ為の<br>
                    メンテナンス管理アプリ</h3><br>
                <h3 class="white">あなたのお車の状態を記録していき<br>
                    交換履歴の閲覧、交換内容、交換日を<br>
                    管理者が閲覧し、アドバイス<br>
                    管理させていただきます。<br>
                    これらを行う事により、故障の事前防止<br>
                    最適な車両状態にする事により<br>
                    あなたのカーライフに寄り添います。</h3>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="box5">
                <h1>このアプリの使い方</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="abo">
                    <h3>車両一覧</h3>
                </div>
                <div class="ab">
                    <p>車の情報を登録<br>していきます。<br>
                        新規車両登録<br>項目で、<br>
                        初期設定登録で<br>
                        必要なのは、<br>
                        ・車両名<br>
                        ・車の走行距離<br>
                        ・車検日・1年点検日<br>
                        ・登録年月日<br>
                        車の情報は全て記入してください</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="abo">
                    <h3>パーツ</h3>
                </div>
                <p>この場所では<br>
                    交換したパーツを追加していきます<br>
                    同じ名前のパーツは追加できません。</p>
            </div>
            <div class="col-sm-4">
                <div class="abo">
                    <h3>履歴</h3>
                </div>
                <p>この場所では、<br>
                    交換したパーツに<br>
                    交換した日<br>
                    その時の走行距離<br>
                    交換推奨距離を<br>
                    入力していき<br>
                    パーツに交換履歴を<br>
                    追加します</p>
            </div>
        </div>
        <div class="cols-sm-12">
            <div class="box5">
                <h3>これらの情報を登録する事により<br>
                    車詳細ページで、現在の状態を把握でき<br>
                    点検、交換、まで残り日数、残り距離を<br>
                    知らせてくれます。</h3>
            </div>
        </div>
    </div>
</div>