<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="text-center">
      <div class="top2">
        <button class="button2" type="submit">
          <i class="fas fa-car-side"></i>
          <%= link_to "車両一覧",cars_path, :style=>"color:white;" %></button>
        定期点検や消耗品交換などの履歴・予定管理
        <br><br>
        <button class="button2" type="submit">
          <i class="fas fa-wrench"></i>
          <%= link_to "日常点検",dailys_daily_path, :style=>"color:white;" %></button>
        日常的なクルマの点検方法の説明
        <br><br>
        <% if user_signed_in? %>
        <button class="button2" type="submit"><a
            class="fas fa-search"><%= link_to "マイページ", user_path(current_user), :style=>"color:white;" %></a></button>
        自分の車の登録情報
        <% else %>
        <button class="button2" type="submit"><a
            class="fas fa-search"><%= link_to "マイページ", new_user_session_path, :style=>"color:white;" %></a></button>
        自分の車の登録情報
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>