<h1>Homes#top</h1>

<button class="btn btn-primary">
<%= link_to "車両一覧",cars_path %></button>

  <%= @user %>

  <a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">