<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="text-center">
      <div class="top2">
        <%= link_to cars_path, class: "button2" do %>
        <i class="fas fa-car-side"></i>
        車両一覧
        <% end %>
        <div>定期点検や消耗品交換などの履歴・予定管理</div>
        <br>
        <%= link_to dailys_daily_path, class: "button2" do %>
        <i class="fas fa-wrench"></i>
        日常点検
        <% end %>
        日常的なクルマの点検方法の説明
        <br><br>
        <% if user_signed_in? %>
        <%= link_to user_path(current_user), class: "button2" do %>
        <i class="fas fa-search"></i>
        マイページ
        <% end %>
        自分の車の登録情報
        <% else %>
        <%= link_to new_user_session_path, class: "button2" do %>
        <i class="fas fa-search"></i>
        マイページ
        <% end %>
        自分の車の登録情報
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>