<button type="button" class="btn btn-primary btn-lg">
<%= link_to "車両一覧",cars_path, :style=>"color:white;" %></button>

<button type="button" class="btn btn-primary rounded-pill">長丸ボタン</button>

<div class="btn-group d-flex" role="group" aria-label="...">
  <button type="button" class="btn btn-warning w-100">中</button>
</div>