<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>タイヤの空気圧点検</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="air"></div>
    </div>
    <div class="col-sm-12">
        <h3>トラブル例</h3>
        <p>空気圧不足による燃費悪化</p>
        <p>空気圧が不適正な場合、走行安定性が悪化</p>
        <p>空気圧不足により、ハンドル操作が重くなる</p>
        <p>空気圧は高すぎると、燃費はよくなりますが、摩耗が早くなります</p>
        <p>空気圧が低すぎると、燃費が悪くなり、ハンドルが重くなります。</p>
        <p>空気圧をちゃんと合わせてあげないと偏摩耗等により、交換時期が早くなるかのせいがあります。</p>
        <p>基準値に、なるべく合わせてあげましょう</p>
    </div>
</div>