<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>ブレーキフルードの点検</h1>
            <p>ブレーキフルードは定期的な交換の必要性があります。<br>
                車検毎の交換をオススメします</p>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="brake"></div>
    </div>
    <div class="col-sm-4">
        <div class="brake2"></div>
    </div>
    <div class="col-sm-4">
        <br><br>
        <p>ブレーキリザーバータンク内の液量が規定量の<br>
            MAX〜MINの間にあることを点検します。</p>
    </div>
    <div class="col-sm-12">
        <h3>トラブル例</h3>
        <p>ブレーキオイル量が減ると、最悪の場合ブレーキが効かなくなり、衝突事故等の原因になったりします。</p>
        <p>ブレーキの踏みしろが軽い場合、空気が噛んでる場合があります。</p>
        <p>空気が噛んでいるとブレーキが効きません、いつもと違うと思ったら、修理工場への入庫をオススメします。</p>
        <p>ブレーキ液の減りが著しいときは、ブレーキ系統からの液漏れが考えられます。整備工場へ依頼して原因をつきとめましょう。</p>
    </div>
</div>