<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <div>
            <h1>バッテリーの点検</h1>
            <p>バッテリーは定期的な交換の必要性があります。<br>
                車検毎の交換をオススメします</p>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <div class="bt"></div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
        <div class="bt2"></div>
    </div>
    <div class="col-sm-4">
        <br><br>
        <p>バッテリーの液量が規程の範囲内の<br>
            UPPER〜LOWERの間にあるか点検します。</p>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <h3>トラブル例</h3>
        <p>バッテリーあがり（エンジン始動不能</p>
        <p>バッテリーの破裂</p>
        <p>メンテナンスフリーバッテリー（液の補充および点検ができないタイプ）も、同様に寿命があります</p>
        <p>あまり走らない、乗らない方も年数が経っていなくても劣化することがあります。</p>
    </div>
</div>