<div>
    <h2>エンジンルーム</h2>
    <p><%= link_to "オイル点検", dailys_oil_path %></p>
    <p>ブレーキオイル点検</p>
    <p>冷却水</p>
    <p>バッテリーの点検</p>
    <P>ウインド・ウォッシャーの量<p>
</div>

<div>
    <h2>車周り</h2>
    <P>タイヤの空気圧</p>
    <p>タイヤの亀裂、損傷及異常な摩耗</p>
    <p>ライト類の点灯、点滅レンズの汚れ、損傷</p>
</div>

<div>
    <h2>運転席周り</h2>
    <p>ブレーキ・ペダルの踏みしろ及ブレーキの効き</p>
    <p>パーキングブレーキレバーの引しろ</p>
    <P>ウインド・ウォッシャーの噴射状態</p>
    <p>ワイパーの拭き取り状態</p>
    <P>エンジンのかかり具合及異音</p>
    <p>エンジンの低速・加速の状態</p>
</div>