<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>エンジンの低速および加速の状態</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="egs"></div>
    </div>
    <div class="col-sm-12">
        <h3>トラブル例</h3>
        <p>排気トラブル例ガス悪化による環境汚染</p>
        <p>走行中のエンジンストップによる追突</p>
        <p>走行して点検しますので、交通状況に注意し、安全な場所で行いましょう。</p>
        <p>アクセルを踏んでも回転数だけ上がり進まないことがあります。</p>
    </div>
</div>