<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <h1>エンジンのかかり具合および異音</h1>
        <div class="egv"></div>
        <h3>トラブル例</h3>
        <p>エンジンがかからない</p>
        <p>エンジンの力不足</p>
        <p>エンジン内部不具合</p>
        <p>スターターの異音</p>
        <p>セルは回るがエンジンがかからない</p>
        <p>いつも違う音があると危険性がある場合があります。</p>
    </div>
</div>