<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <h2>パーキング・ブレーキ・レバー（ペダル）の引きしろ(踏み白)</h2>
        <div class="lever"></div>
        <h3>トラブル例</h3>
        <p>パーキング・ブレーキの利きが悪くなる</p>
        <p>パーキング・ブレーキの引きずり</p>
        <p>電子パーキングブレーキの場合は作動がするか確認しましょう。</p>
    </div>
</div>