<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>パーキング・ブレーキ・レバー（ペダル）の引きしろ(踏み白)</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="lever"></div>
    </div>
    <div class="col-sm-12">
        <h3>トラブル例</h3>
        <p>パーキング・ブレーキの利きが悪くなる</p>
        <p>パーキング・ブレーキの引きずり</p>
        <p>電子パーキングブレーキの場合は作動がするか確認しましょう。</p>
    </div>
</div>