<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>ライト類の点灯、点滅レンズの汚れ、損傷</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="light"></div>
    </div>
    <div class="col-sm-12">
        <h3>トラブル例</h3>
        <p>夜間、悪天候時およびトンネル走行時などに前方視界が確保できない</p>
        <p>他車への意思表示ができない</p>
        <p>ウインカ・ランプが球切れを起こすとメータ内のインジケータ・ランプ点滅速度に変化が生じます。</p>
        <p>ライトレンズに損傷割れがあると水が浸入することでショートしてしまう危険性があります。</p>
        <p>ヘットライトレンズの汚れにより光度が下がることがあります。</p>
    </div>
</div>