<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <div>
            <h1>冷却水の点検</h1>
            <p>冷却水は定期的な交換の必要性があります。</p>
            <P>車検毎の交換をオススメします。</p>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <div class="llc"></div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
        <div class="llc2"></div>
    </div>
    <div class="col-sm-4">
        <br><br>
        <p>ラジエーターリザーバータンク内の冷却水の量が規程の範囲内のFULL〜LOWの間にあるか点検します。</p>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <h3>トラブル例</h3>
        <p>冷却水の量が減るとエンジンがオーバーヒートを起こし、最悪の場合エンジン交換が必要になります。</p>
        <p>冷却水の量が著しく減少しているときは、ラジエーター、ラジエーター・ホースなどから冷却水が漏れているおそれがあります。</p>
        <p>多少の冷却水の減りは、空気が噛んでいて空気が抜けた部分が、減っている場合があります。</p>
    </div>