<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>エンジンオイルの点検</h1>
            <p>エンジンオイルの量がオイルレベルゲージに表示された範囲内にあるか点検します。</p>
            <p>エンジンオイルとオイルフィルターは定期的な交換の必要性があります。<br>
                定期点検等などで整備工場等で交換を行いましょう。</p>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="oil"></div>
    </div>
    <div class="col-sm-4">

        <div>1・平らな場所に停車し、エンジンを止めた状態で<br>
            オイルレベルゲージを一度抜きとります<br>
            2・オイルを布で拭き取ります<br>
            3・オイルレベルゲージをいっぱいに差込み<br>
            4・もう一度抜いてから<br>
            オイルレベルを点検します</div>
    </div>
    <div class="col-sm-4">
        <div class="oil2"></div>
    </div>
    <div class="col-sm-4">
        <div>レベルゲージのLow〜High(上限〜下限)の<br>
            間にあることを確認してください。</div>
    </div>
    <div class="col-sm-12">
        <h3>トラブル例</h3>
        <p>オイルが少ないとエンジン内部の損傷を引き起こす場合があります。</p>
        <p>オイルが多い場合でも、オイルがエキゾースト側に入ってしまい故障の原因になります。</p>
        <p>オイルフィラーキャップがちゃんとしまっていることを確認しましょう。<br>オイルが吹いて、火災の原因になることがあります。</p>
    </div>
</div>
</div>