<div>
    <h1>エンジンオイルの点検</h1>
    <div>
        <div class="oil"></div>
        <div>平らな場所に停車し、エンジンを止めた状態で<br>
            オイルレベルゲージを一度抜いて、<br>
            オイルを布で拭き取ってから<br>
            オイルレベルゲージをいっぱいに差込み<br>
            もう一度抜いてから<br>
            オイルレベルを点検します</div>
        <div class="oil2"></div>
    </div>
</div>