<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>ブレーキ・ペダルの踏みしろおよびブレーキの利き</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="pedal"></div>
    </div>
    <div class="col-sm-12">
        <h3>トラブル例</h3>
        <p>ブレーキの利きが悪い場合、追突事故の危険性が高くなります。</p>
        <p>床板とのすき間が少なくなっているときや踏みごたえがやわらかく感じるときは、<br>
            ブレーキ液の漏れや空気の混入が考えられますので、工場に入庫し原因を突き止めましょう。</p>

    </div>
</div>