<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <h1>タイヤの亀裂、損傷および異状な摩耗点検</h1>
        <div class="tire"></div>
        <h3>トラブル例</h3>
        <p>溝が少なくなってくると、パンクやスリップの危険性、及制動力が長くなります</p>
        <p>サイドウォールが損傷してると、バースト等の危険性</p>
        <p>サイドをウォールはワイヤーが見えると危険です。</p>
        <p></p>
        <p>亀裂、損傷や異状摩耗したタイヤでの走行はとても危険なので、早急に取り換える必要があります。</p>
    </div>
</div>