<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>ワイパの拭き取りの状態</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="wiper"></div>
    </div>
    <div class="col-sm-12">
        <h3>トラブル例</h3>
        <p>フロントガラスの雨や汚れを拭き取れない</p>
        <p>ワイパのから拭きは、ガラスを傷つけますので、ウォッシャ液を噴射してからワイパを作動させましょう。</p>
        <p>ワイパーが切れていると、視界不良になりますので、早期交換をオススメします。</p>
    </div>
</div>