<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>ウィンドウォッシャー液の点検</h1>
            <p>ウィンドウォッシャー液は、冬季の凍結を防止する為の<br>
                専門液を使用する必要性があるので<br>
                整備工場に相談をオススメします。</p>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="ww"></div>
    </div>
    <div class="col-sm-4">
        <div class="ww2"></div>
    </div>
    <div class="col-sm-4">
        <br><br>

        <p>ウィンドウォッシャーの液の量が十分にあるか点検します。<br>
            不足時は、専門液を補充します。</p>
    </div>
    <div class="col-sm-12">
        <h3>トラブル例</h3>
        <p>いざというときにフロントガラスの汚れを落とせずに、前が見えなくなります。</p>
        <p>ウォッシャ液が、カラの状態でウォッシャ・スイッチを入れると、モーターが故障することがあります</p>
    </div>
</div>