<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-02">
        <h1>ウインド・ウォッシャの噴射状態</h1>
        <div class="wwv"></div>
        <h3>トラブル例</h3>
        <p>フロントガラスの汚れを落とせない</p>
        <p>飛散による他の交通などへの悪影響</p>
    </div>
</div>