/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body {
	margin-top: 0px;
	padding: 0px;
	// background-image: url("pyr.jpg");
	// opacity: 0.7;
	// background-color: rgba(255, 255, 255, 0.9);
	// background-blend-mode: lighten;
	// background-size: cover;
	background-color: whitesmoke;
	font-family: 'Ubuntu Mono',
		monospace;
}

.footer {
	font-family: 'Sacramento',
		cursive;
	font-size: 25px;
	position: fixed;
	bottom: 20px;
	margin-bottom: 0;
	width: 225px;
	height: 25px;
	background: slategray;
	color: #000;
	text-align: center;
}



.box1 {
	background-color: whitesmoke;
	position: fixed;
	// height: 98vh;
	height: 900px;
	width: 1420px;
}


// ヘッダー背景
.box2 {
	background-color: #0275d8;
	color: #fff;
	height: 5vh;
}

// サイドバー背景
.box3 {
	background-color: slategray;
	// position: fixed;
	margin-top: 0px;
	height: 900px;
	width: 225px;
}

.nav navbar-nav navbar-left {
	padding: 10px;
}

// トップの右少しずらした
.conteiner {
	margin-right: 10px;
}

.top {
	margin-left: 30px;
}

// home/top
.top2 {
	margin-top: 20px;
}

.nav {
	margin-right: 10px;
}

// 点検日赤文字
p.red {
	color: red;
}

h2.text {
	margin-left: 10px;
}

h2.text2 {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 26px;
}

// top/button
button.button2 {
	font-size: 50px;
	font-weight: bold;
	padding: 5px 30px;
	width: 800px;
	height: 200px;
	background-color: #0275d8;
	color: #fff;
	border-style: none;

	box-shadow: 2px 2px 3px 1px #666;
	-moz-box-shadow: 2px 2px 3px 1px #666;
	-webkit-box-shadow: 2px 2px 3px 1px #666;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;


}

button.button2:hover {
	background-color: #24d;
	color: #fff;

}


.select {
	color: white;
	border-radius: 7px;
	display: inline-block;
	height: 50px;
	width: 190px;
	text-align: center;
	font-size: 30px;
	line-height: 50px;
	background: #0275d8;
	text-decoration: none;
}

.select2 {
	color: white;
	border-radius: 7px;
	display: inline-block;
	height: 50px;
	width: 190px;
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	background: #0275d8;
	text-decoration: none;
}