  <div class="row">
    <div class="col-sm-8">
      <h1>登録車両一覧</h1>
      <div id="cars-list">
        <%= render partial: 'cars/table', locals: { cars: @cars} %>
      </div>
      <button type="button" class="btn btn-primary btn-md">
        <%= link_to '戻る', :back, :style=>"color:white;" %></button>
    </div>
    <div class="col-sm-4">
      <div id="car">
        <%= render partial: 'cars/new', locals: { car: @car} %>
      </div>
    </div>
  </div>